button {
    border: none;
}

.tools {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    overflow: visible;
    margin-left: 25%;
    width: 75%;
    bottom: 0;
    margin-bottom: 0.5rem;
}

.tools svg {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: fit-content;
    top: 0.133rem;
    right: 0.133rem;
}

.tool_btn {
    cursor: url('../icon/c_mouse.png'), pointer;
    height: fit-content !important;
    width: fit-content;
    text-align: center;

    font-family: 'AlimamaDongFangDaKai';

    margin-right: 0.33rem;
    padding: 0px 0.33rem 0.067rem 0.6rem;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: bold;

    display: block;
    overflow: hidden;
    position: relative;
    background-color: #88888833;
    color: #2c3e50;
    border-radius: 1rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

.tool_btn::before {
    cursor: url('../icon/c_mouse.png'), pointer;

    content: '';
    position: absolute;
    width: 2.1rem;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: skew(45deg) translate3d(-200px, 0, 0);
}

.tool_btn:hover {
    color: white;
    background-color: #2c3e50;
}

.tool_btn svg path {
    fill: #2c3e50;
}

.tool_btn:hover svg path {
    fill: white;
}

.tool_btn:hover::before {
    transition: ease-in-out 0.5s;
    transform: skew(45deg) translate3d(300px, 0, 0);
}

.tool_btn:active {
    transform: translate(0, 2px);
    box-shadow: 0px 1px 0px 0px #f39c12;
}

.active {
    color: white;
    background-color: #2c3e50;
    box-shadow: 0px 1px 0px 0px #f39c12;
}

.active svg path {
    fill: white;
}
